# Build directories
build/
dist/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# PyInstaller
*.manifest
*.spec

# Temporary files
*.wav
*.mp3
output/
separated/

pretrained_models
myenv
*.mp3
assets
todo.txt
cache
_internal