# Build directories
build/
dist/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# PyInstaller
*.manifest

# Temporary files
*.wav
*.mp3
output/
separated/

pretrained_models
myenv
*.mp3
todo.txt
audio_files